@import './src/scss/include/vars';

.navbar {
  padding-top: 41px;

  @media (max-width: $sm-mob) {
    padding-top: 21px;
  }

  .logo {
    color: $white;
    font-size: 32px;
    float: left;

    @media (max-width: $sm-mob) {
      display: block;
      float: none;
      margin-bottom: 11px;
      text-align: center;
    }
  }

  .main-menu {
    float: right;
    line-height: 26px;

    @media (max-width: $sm-mob) {
      display: block;
      float: none;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-right: 53px;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
        padding-top: 6px;
      }

      @media (max-width: $tablet) {
        margin-right: 30px;
      }

      @media (max-width: $xs-mob) {
        margin-right: 17px;
      }

      a {
        color: $white;

        &:hover {
          opacity: .8;
        }
      }

      i.icon-search {
        color: $white;
        cursor: pointer;
        font-size: 26px;
      }
    }
  }
}