<app-header></app-header>

<section class="content">
  <div class="container">
    <div class="dialog" [hidden] = "isShow">
      <span class="close fw-300" title="Cerrar" (click) = toggleDisplay()>X</span>
      <div class="col col-left">
        <p class="fw-300">Speak out. Be heard.</p>
        <h4 class="fw-900">Be counted</h4>
      </div>
      <div class="col col-right">
        <p class="fw-300">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>