@import './src/scss/include/vars';

h2 {
  font-size: 40px;
  margin: 30px 0;

  @media (max-width: $mobile) {
    font-size: 35px;
  }
}

ul.previous-rulings {
  li {
    background-size: cover;
    color: $white;
    float: left;
    height: 550px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    width: 492px;

    &:nth-child(odd) {
      margin-right: 40px;
    }

    @media (max-width: $desktop) {
      height: 460px;
      width: 363px;
    }

    @media (max-width: $tablet) {
      height: 400px;
      margin-bottom: 20px;
      width: 310px;

      &:nth-child(odd) {
        margin-right: 20px;
      }
    }

    @media (max-width: $mobile) {
      width: 100%;
    }

    .info-poll {
      bottom: 0;
      left: 0;
      padding: 0 20px 0 40px;
      position: absolute;
      right: 0;

      @media (max-width: $sm-mob) {
        padding: 0 20px 0 30px;
      }

      .name-poll {
        position: relative;

        .thumb {
          bottom: 6px;
          left: -40px;
          position: absolute;
          padding: 7px 6px;

          @media (max-width: $tablet) {
            bottom: 0;
          }

          @media (max-width: $sm-mob) {
            left:  -30px;
          }
  
          &.-up {
            background-color: $blue-light;
          }
  
          &.-down {
            background-color: $yellow;
          }
  
          i {
            font-size: 18px;

            @media (max-width: $tablet) {
              font-size: 15px;
            }
          }
        }

        h3 {
          font-size: 45px;
          margin-bottom: 15px;

          @media (max-width: $desktop) {
            font-size: 40px;
          }

          @media (max-width: $tablet) {
            font-size: 30px;
          }
        }
      }

      p {
        &.intro {
          margin-bottom: 20px;
        }
      }

      a {
        display: inline-block;

        &.report-link {
          background-color: rgba($color: $black, $alpha: .1);
          border: 1px solid $white;
          color: $white;
          padding: 13px 26px;

          @media (max-width: $tablet) {
            padding: 10px 15px;
          }

          @media (max-width: $sm-mob) {
            font-size: 13px;
          }

          &:hover {
            background-color: rgba($color: $black, $alpha: .5);
          }
        }
      }

      .date-poll {
        float: right;
        font-size: 12px;
        margin-top: 10px;
        text-align: right;
      }

      .thumbs-bars {
        margin: 20px -21px 0 -40px;

        @media (max-width: $sm-mob) {
          margin-left: -30px;
        }

        .bar {
          float: left;
          min-width: 23%;
          max-width: 77%;

          p {
            padding: 9px 10px;

            i, span {
              font-size: 30px;

              @media (max-width: $tablet) {
                font-size: 25px;
              }
            }

            i {
              margin-right: 5px;
            }
          }

          &.-up {
            background-color: rgba($color: $blue-light, $alpha: .8);
          }
          &.-down {
            background-color: rgba($color: $yellow, $alpha: .8);
          }
        }
      }
    }
  }
}