<div class="container">
  <section class="submit-name">
    <h2 class="fw-300">Is there anyone else you would want us to add?</h2>
    <a routerLink="/submit-name">Submit a Name</a>
  </section>
</div>

<footer>
  <div class="container clearfix">
    <div class="dotted-spaced"></div>
    <ul class="ft-menu">
      <li>
        <a routerLink="/terms-conditions" class="fw-300">Terms and Conditions</a>
      </li>
      <li>
        <a routerLink="/privacy-policy" class="fw-300">Privacy Policy</a>
      </li>
      <li>
        <a routerLink="/contact-us" class="fw-300">Contact Us</a>
      </li>
    </ul>

    <ul class="ft-social">
      <li>
        <p class="fw-300">Follow Us</p>
      </li>
      <li>
        <a href="https://fb.com">
          <i class="icon-fb"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com">
          <i class="icon-tw"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>